body {
	background-image: url("/img/yellow_flowers.png");
	background-size: cover;
	background-attachment: fixed;
}

#homeBackground {
	width:100%;
	height:100%;
	left:0;
	position:absolute;
}

#bytenectar_icon {
	width: 10vw; 
	height: auto;
	margin:0 auto;
}

#titlefont_home {
	text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    width:48em;
    margin:0 auto;
    margin-top: 33vh;
}

#landing_buttons_bar {
	height:10vh;
	width:860px;
	margin: 0 auto;
	margin-top: 24vh;
}

.landing_button {
	border-radius: 2vh;
	width: 260px;
	margin: 10px;
	/* Make it nice a readable */
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    outline:none;
    text-shadow: 0 0 .25em white;
    
    /* Lots of padding, rectangle, rounded corners */
    padding: 1.25em 4em;
    border-radius: .5em;    
    border: 3px rgba(0,0,0,1) solid;
	background: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 34%, rgba(255, 255, 255, 0.3) 99%, rgba(255, 255, 255, 0.3) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(34%, rgba(255, 255, 255, 0)), color-stop(99%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0.3)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 34%, rgba(255, 255, 255, 0.3) 99%, rgba(255, 255, 255, 0.3) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 34%, rgba(255, 255, 255, 0.3) 99%, rgba(255, 255, 255, 0.3) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 34%, rgba(255, 255, 255, 0.3) 99%, rgba(255, 255, 255, 0.3) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 34%, rgba(255, 255, 255, 0.3) 99%, rgba(255, 255, 255, 0.3) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#4dffffff', GradientType=0);
    /* IE6-8 */
}
.landing_button:hover {
    background: rgba(255,255,255,.4);
    cursor:pointer;
}
.landing_button:active {
    background: rgba(255,255,255,.7);
}

#spacing_home {
	height:15vh;
	width:100%;
}

#mobile_arena {
	width: 100%;
	height:171vh;
	border:1px solid black;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(0, 0, 0);
    font-size:18px;
    text-indent: 2vw;
}

#is_your_biz_ready {
	height: 60%;
	width: 90%;
	margin-left:10%;
	margin-top: 10vh;
}

#mobile_trend {
	height:470px; 
	width:100%; 
	background-color:rgba(0,0,0,0.2);
}
