<div id='aboutBackground'>
	<!-- bytenectar_icon.png locked onto position of div#homeBackground 
	<div id='bytenectar_icon'><img class="img-responsive" src="img/ByteNectar_Icon.png" alt=""></div>
	-->
	<div id='about_us_paragraphs'>
		<div class='col-md-6' style='height:100vh;'>
			<div class='col-md-4 col-md-offset-2' style='height:90vh;'>
				<div style='height:70vh; width:100%; background-color:rgba(0,0,0,0.2); margin-top:20vh;'>
					<h3>Tech Culture</h3>
					<p>Nam luctus iaculis dolor, vitae blandit mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris diam nisi, venenatis a molestie sed, finibus eget felis. Nunc volutpat, turpis eget venenatis tristique, mi urna tristique lacus, eu consectetur magna metus et turpis.</p>
					<p>Phasellus eu sem mauris. Praesent efficitur luctus ligula, volutpat pharetra ipsum. Sed lectus sem, posuere ac tellus ac, auctor euismod elit. Pellentesque sit amet ex non urna elementum mollis. Proin vel finibus tellus, nec lacinia magna. Ut eget suscipit massa. Mauris dui enim, tempus vel lacus sit amet, feugiat bibendum nisi.</p>
				</div>
			</div>
		</div>

		<div class='col-md-6' style='height:100vh;'>
			<div class='col-md-4 col-md-offset-6' style='height:90vh;'>
				<div style='height:70vh; width:100%; background-color:rgba(0,0,0,0.2); margin-top:20vh;'>
					<h3>Startup City</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sodales, elit et volutpat ultricies, turpis arcu pretium erat, a vulputate turpis lacus eget velit. Cras felis diam, mollis mollis placerat a, condimentum sit amet velit. Fusce convallis leo at consequat posuere. Curabitur at congue tellus, eu fringilla felis. Cras euismod id nibh eget ultricies. </p><br/>
					<p>Quisque aliquet enim a elit auctor pellentesque. Sed nunc velit, convallis sollicitudin mi vel, congue ultrices arcu. Nam convallis laoreet nulla. Vivamus at vestibulum sapien. Nullam id eros elit. Aliquam arcu diam, dictum sollicitudin auctor quis, tincidunt ac tellus. </p>
					<img src='img/uwaterloo.png' style='width:70%;height:auto;margin-left:2vw;'>
				</div>
			</div>
		</div>
	</div>
</div>
