<div id='demoBackground'>
	<!-- bytenectar_icon.png locked onto position of div#homeBackground 
	<div id='bytenectar_icon'><img class="img-responsive" src="img/ByteNectar_Icon.png" alt=""></div>
	-->

	<div id='titlefont_demo'>
		<img src='/img/ByteNectar_Icon.png' style='width:20vw; height:auto;'>
		<h1 style='font-size:5vw; margin-top:-2vh;'>DEMOS</h1>
	</div>
</div>

<div id='brand_bar'>
	<div class='brand_icon'><img src='img/underlined_truth.jpg' style='max-height:100%; width:5vw; margin-left: 1.5vw;'></div>
	<div class='brand_icon'><img src='img/andrewnuri.png' style='max-height:100%; width:17vw;'></div>
	<div class='brand_icon'><img src='img/plazapal.png' style='max-height:100%; width:13vw;'></div>
	<div class='brand_icon'><img src='img/stop_shop.png' style='max-height:100%; width:17vw;'></div>
	<div class='brand_icon'><img src='img/auntys.png' style='max-height:100%; width:6vw;'></div>
	<div class='brand_icon'><img src='img/oscillatefx.png' style='max-height:100%; width:9vw;'></div>
	<div class='brand_icon'><img src='img/campus_pizza.png' style='max-height:100%; width:13vw;'></div>
</div>

<div id='demo'>
	<div id='spacing_demo'>
		
	</div>
</div>