<div id='titlefont_home'>
	<h1 style='font-size:3em'>Modern Web Development</h1><span style='font-size:2.3em; margin-left:22%;'> for Small Business</span>
	<br/><br/>
	<a>
		<img src='img/ByteNectar_Icon.png' style='width:10%; height:auto; margin-left:45%;'>
	</a>
</div>

<div id='landing_buttons_bar'>
	<button type="button" class='landing_button' class="btn btn-lg" ng-click='option1();'>Mobile World</button>
    <button type="button" class='landing_button' class="btn btn-lg" ng-click='option2();'>Hybrid Apps</button>
    <button type="button" class='landing_button' class="btn btn-lg" ng-click='option3();'>Web Apps</button>
</div>

<div id='spacing_home'></div>

<div id='mobile_arena'>
	<div class='col-xs-4 col-xs-offset-1' style='border:1px solid red; height:90vh;'>
		<img src='img/smartphones.png' style='width:100%; height:auto; margin-top:15vh; margin-left:-2vw;'>
		<img src='img/location.png' style='width:100%; height:auto; margin-top:5vh;'>
	</div>
	<div class='col-xs-6' style='border:1px solid red; height:90vh;'>
		<div id='is_your_biz_ready'>
			<h2 style='border-bottom:4px solid black;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;'>Is your business ready?</h2>
			<div style='height:500px; width:100%; background-color:rgba(0,0,0,0.2);'>
				<p>Donec hendrerit tellus ligula, ut ultrices lorem vehicula eu. Cras sed egestas arcu. Cras vitae elit sit amet augue dapibus fermentum. Nunc quis luctus libero, eu fringilla neque. Fusce ac augue at lorem elementum aliquet. Phasellus eu ultricies sem. Fusce quis pellentesque nibh. Suspendisse congue metus a ornare tempus. Ut nec tristique diam, quis rutrum purus. Donec sodales tincidunt aliquam. Etiam gravida efficitur odio a bibendum. Vestibulum scelerisque rhoncus sem nec ornare. Quisque sit amet massa vitae urna convallis varius. Phasellus a tristique lorem. Fusce placerat tincidunt tincidunt. Nullam id leo lacus.</p>
				<br/><br/>
				<p>Donec facilisis nibh quis nunc porttitor, vitae laoreet mi aliquet. Mauris finibus mauris a elit tristique, at luctus velit commodo. Integer eu ligula sed magna tristique tempus. In accumsan ligula lorem, porttitor bibendum ligula euismod nec. Nulla blandit quam urna, vitae ultricies risus lobortis eu.</p>
			</div>
		</div>
	</div>

	<div class='col-xs-4 col-xs-offset-1' style='border:1px solid red; height:80vh;'>
		<div id='mobile_trend'>
			<br/><br/>
			<p>Vivamus eget tempus ex, eget accumsan diam. In et malesuada purus, ut aliquam ligula. Vestibulum in tortor magna. Maecenas pretium luctus eros, sit amet fermentum ante. Nullam luctus tellus a ante volutpat, a fermentum ex bibendum.</p>
			<p>Cras auctor ante in leo molestie posuere. Mauris ultricies maximus metus a condimentum. Proin in accumsan risus, vel varius nisi. Aliquam in suscipit ipsum, sed lacinia erat. Aenean euismod sed est sed vestibulum. Etiam gravida rhoncus lectus, vitae pretium sem cursus non.</p>
		</div>
	</div>
	<div class='col-xs-6' style='border:1px solid red; height:80vh;'>
		<img src='img/mobile_stats.png' style='width:100%; height:auto;margin-left:8%; margin-top:5%;'>
	</div>

	<!--
	<ol>
		<li>1. http://www.smartinsights.com/mobile-marketing/mobile-marketing-analytics/mobile-marketing-statistics/</li>
		<li>2. </li>
		<li>3. </li>
		<li>4. </li>
		<li>5. </li>
	</ol>
	-->
</div>







