<div id='productBackground'>
	<!-- bytenectar_icon.png locked onto position of div#homeBackground 
	<div id='bytenectar_icon'><img class="img-responsive" src="img/ByteNectar_Icon.png" alt=""></div>
	-->

	<div id='titlefont_products'>
		<h1 style='font-size:3em'>Hybrid Mobile & Web Apps</h1><span style='font-size:2em; margin-left:30%;'>AngularJS + Ionic</span>
		<br/><br/>
	</div>
</div>

<div id='tech_bar'>
	<div class='tech_icon'><img src='img/angular.png' style='max-height:100%; width:13vw; margin-left: 4.5vw;'></div>
	<div class='tech_icon'><img src='img/mongo.png' style='max-height:100%; width:13vw;'></div>
	<div class='tech_icon'><img src='img/ionic2.png' style='max-height:100%; width:13vw;'></div>
	<div class='tech_icon'><img src='img/firebase.png'style='max-height:100%; width:14vw;'></div>
	<div class='tech_icon'><img src='img/meteor.png'style='max-height:100%; width:13vw;'></div>
	<div class='tech_icon'><img src='img/html5.png'style='max-height:100%; width:5vw;'></div>
	<div class='tech_icon'><img src='img/css3.png'style='max-height:100%; width:3.5vw;'></div>
</div>

<div id='product_info'>
	<div id='spacing_products'>
		
	</div>
</div>