<div id='productBackground'>
	<!-- bytenectar_icon.png locked onto position of div#homeBackground 
	<div id='bytenectar_icon'><img class="img-responsive" src="img/ByteNectar_Icon.png" alt=""></div>
	-->

	<div id='titlefont_products'>
		<h1 style='font-size:3em'>Hybrid Mobile & Web Apps</h1><span style='font-size:2em; margin-left:30%;'>AngularJS + Ionic</span>
		<br/><br/>
	</div>
</div>

<div id='tech_bar'>
	<div class='tech_icon'><img src='img/angular.png' style='max-height:100%; width:13vw; margin-left: 4.5vw;'></div>
	<div class='tech_icon'><img src='img/mongo.png' style='max-height:100%; width:13vw;'></div>
	<div class='tech_icon'><img src='img/ionic2.png' style='max-height:100%; width:13vw;'></div>
	<div class='tech_icon'><img src='img/firebase.png'style='max-height:100%; width:14vw;'></div>
	<div class='tech_icon'><img src='img/meteor.png'style='max-height:100%; width:13vw;'></div>
	<div class='tech_icon'><img src='img/html5.png'style='max-height:100%; width:5vw;'></div>
	<div class='tech_icon'><img src='img/css3.png'style='max-height:100%; width:3.5vw;'></div>
</div>

<div id='product_info'>
	<div id='spacing_products'>
	</div>

	<div id='web_apps'>
		<div class='col-xs-4 col-xs-offset-1' style='border:1px solid red; height:90vh;'>
			<h1 style='border-bottom:4px solid white;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; margin-top:5vh;'>Join the Modern Web 2.0</h1>
			<div style='height:70vh; width:100%; background-color:rgba(0,0,0,0.2);'>
				<p>Sed eu dui quam. Nullam porttitor, arcu in hendrerit luctus, enim mi dignissim lectus, non vehicula ante justo sit amet quam. Aenean condimentum laoreet vestibulum. In non volutpat urna, sed dictum nulla. Ut commodo maximus urna, sed commodo arcu rhoncus in. In non mauris vestibulum enim ullamcorper ullamcorper eget in nibh. Duis imperdiet tempus neque ac dapibus. Maecenas molestie ac lectus vel consectetur.</p>
				<p>Pellentesque mollis a eros ut convallis. Nam orci felis, efficitur at varius eu, consectetur id nulla. Donec eget tortor tincidunt, vulputate enim sed, hendrerit urna.
				Donec dapibus sem eget sapien faucibus, eget faucibus mauris faucibus. Suspendisse aliquet nisl a lorem venenatis cursus. Cras vitae ante turpis. Nullam iaculis commodo tempus. Donec lacus erat, finibus non varius vitae, luctus at urna.</p>
				<p>Ut accumsan vitae dolor vitae interdum. Nam sem nulla, semper a bibendum sit amet, mattis vel tellus. Quisque in pulvinar justo, vitae porttitor felis. Phasellus faucibus ipsum at convallis auctor. In blandit interdum mattis. Nam bibendum, ex sit amet sagittis congue, magna libero molestie urna, a viverra eros enim vitae turpis. Duis laoreet orci sed massa tempor, ut pharetra odio dignissim.</p>
			</div>
		</div>
		<div class='col-xs-6' style='border:1px solid red; height:90vh;'>
			<img src='img/web_apps.png' style='width: 40vw; height:auto; margin-left: 5vw; margin-top: 22vh;'>
		</div>
	</div>

	<div id='hybrid_apps'>
		<div class='col-xs-6 col-xs-offset-1' style='border:1px solid red; height:90vh;'>
			<img src='img/os2.png' style='width: 25vw; height:auto; margin-left: 12vw; margin-top: 22vh;'>
		</div>
		<div class='col-xs-4' style='border:1px solid red; height:90vh;'>
			<h1 style='border-bottom:4px solid white;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; margin-top:12vh;'>Hybrid goes EVERYWHERE</h1>
			<div style='height:60vh; width:100%; background-color:rgba(0,0,0,0.2);'>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vestibulum enim convallis ligula faucibus, vel ullamcorper lectus blandit. Fusce et ullamcorper velit, eget tempor odio. Vivamus varius enim id laoreet malesuada.</p>
				<p>Vestibulum ornare, urna ac placerat rutrum, ligula purus molestie massa, sed laoreet justo purus eget eros. Nam elementum, felis efficitur venenatis molestie, orci neque varius libero, sit amet venenatis lectus dui eget ex. Ut sollicitudin vitae quam sed condimentum. Aenean mattis venenatis tellus, eget consectetur justo mollis vel. Duis viverra, ligula et bibendum fermentum, turpis arcu mollis ex, id rutrum magna magna a lorem.</p>
				<p>Curabitur sed dignissim velit. Praesent volutpat non ipsum ut ornare. Pellentesque sed erat et magna iaculis interdum vel eget est. Nulla facilisi. Fusce id auctor erat, eget lobortis velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In vulputate arcu vel diam aliquet, a blandit eros fringilla.</p>
			</div>
		</div>
	</div>
</div>